.main {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: black;
}

.content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftBox {
    padding-left: 100px;
}


.rightBox {
    max-width: 50vw;
    padding-right: 100px;
}


.leftBox h1 {
    font-size: 50px;
}
